<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
		<header>
            <img src="static/assets/logo.png" alt="WebMarket logo"/>
            <div class="rectangle">
                <form name="registration"  action="#" method="GET">
                    <button type="submit"><a href="/registration">Регистрация</a></button>
                </form>
            </div>
            <div class="auto-rectangle">
            <form name="registration"  action="#" method="GET">
                <button type="submit"><a href="/autorize_form">Авторизация</a></button>
            </form>
            </div>
            <form name="search" action="#" method="get">
                <input type="text" name="q" placeholder="Поиск по товарам..."><button type="submit">Искать</button>
            </form>
        </header>

		<nav>
            <ul class="top-menu">
                <li><a href="/home/">Главная</a></li>
                <li class="active">Каталог</li>
                <li><a href="/partners/">Партнеры</a></li>
                <li><a href="/customers/">Производители</a></li>
                <li><a href="/contact/">Контакты</a></li>
                <li><a href="/takepart/">Сотрудничество</a></li>
                <li><a href="/referal/">Реферальная программа</a></li>
                <li><a href="/sale/">Уцененные товары</a></li>
            </ul>
        </nav>
		<div id="heading"></div>
		<aside>
            <nav>
                <ul class="aside-menu">
                    <li><a href="/elect">Электроника</a></li>
                    <li><a href="/techinck">Бытовая техника</a></li>
                    <li><a href="/clothes">Обувь и одежда</a></li>
                    <li><a href="/homeandgargen">Дом и сад</a></li>
                    <li><a href="/book">Книги</a></li>
                    <li><a href="/hunt">Туризм, охота, рыбалка</a></li>
                    <li><a href="/health">Здоровье</a></li>
                    <li><a href="/food">Еда, заготовки</a></li>
                    <li><a href="/hobby">Хобби, творчество</a></li>
                    <li><a href="/education">Образование</a></li>
                    <li><a href="/business">Бизнес</a></li>
                </ul>
            </nav>
        </aside>
		<section>
            <section>
                <blockquote>
                    <p>
                        “Уютнейшая вещь керосиновая лампа, но я за электричество!”
                    </p>
                    <cite>Михаил Булгаков</cite>
                    </blockquote>
                </section>
            
                <h2>Каталог </h2>
                <ul class="products clearfix">
                    <li class="product-wrapper">
                        <a href="" class="product">
                            <div class="product-photo">
                                <img src="static/assets/book.jpg" alt="">
                            </div>
                            <p>Книга "Сам себе программист" <b>15$</b></p>
                        </a>
                    </li>
                    <li class="product-wrapper">
                        <a href="" class="product">
                            <div class="product-photo">
                                <img src="static/assets/elect/clock.jpg" alt="">
                            </div>
                            <p>Часы Mi Band 6 <b>49$</b></p>
                        </a>
                    </li>
                    <li class="product-wrapper">
                        <a href="" class="product">
                            <div class="product-photo">
                                <img src="static/assets/elect/acer.jpg" alt="">
                            </div>
                            <p>Ноутбук Acer <b>480$</b></p>
                        </a>
                    </li>
                    <li class="product-wrapper">
                        <a href="" class="product">
                            <div class="product-photo">
                                <img src="static/assets/elect/mobile.jpeg" alt="">
                            </div>
                            <p>Телефон стационарный <b>77$</b></p>
                        </a>
                    </li>
                    <li class="product-wrapper">
                        <a href="" class="product">
                            <div class="product-photo">
                                <img src="static/assets/elect/aoc.jpg" alt="">
                            </div>
                            <p>Монитор AOC <b>235$</b></p>
                        </a>
                    </li>
                    <li class="product-wrapper">
                        <a href="" class="product">
                            <div class="product-photo">
                                <img src="static/assets/elect/3d.jpg" alt="">
                            </div>
                            <p>3D принтер <b>670$</b></p>
                        </a>
                    </li>
                    <li class="product-wrapper">
                        <a href="" class="product">
                            <div class="product-photo">
                                <img src="static/assets/elect/televisor.jpg" alt="">
                            </div>
                            <p>Телевизор Panasonic <b>234$</b></p>
                        </a>
                    </li>
                    <li class="product-wrapper">
                        <a href="" class="product">
                            <div class="product-photo">
                                <img src="static/assets/elect/ele_book.jpg" alt="">
                            </div>
                            <p>Электронная книга <b>100$</b></p>
                        </a>
                    </li>
                </ul>
        </section>
	</div>
    
        <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark typo-light">
        <div class="container">
         <div class="row">
               
        <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="widget subscribe no-box">
        <h5 class="widget-title">Uzh-Kurba Express<span></span></h5>
        <p>ВебМаркет - простые товары для сложных проблем </p>
        </div>
        </div>
</body>
</html>