<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <h1 title="Форма Регистрации">Регистрация</h1>
        <div class="grop">
            <label for="">ФИО</label>
            <input type="text">
        </div>
        <div class="grop"></div>
        <div class="grop"></div>
        <div class="grop"></div>
        <div class="grop"></div>
    </form>
</body>
</html>